.container{
    width:80%; 
    margin: auto;
    text-align: center;
}
        
.image-slider{
    display: flex;
    margin: 50px auto;

}    
img{
    width:80% ;
    }
button{
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 10px;
    height: 40px;
    margin: auto 20px;
    cursor: pointer;
}